<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>457198622467-telgeb0b031l0ccm5ag1aetl5bdnq8ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457198622467-telgeb0b031l0ccm5ag1aetl5bdnq8ij</string>
	<key>API_KEY</key>
	<string>AIzaSyBpPbDIeK2DvNIy4dclkCZLxyRG9mP-uDA</string>
	<key>GCM_SENDER_ID</key>
	<string>457198622467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.puconline.apps</string>
	<key>PROJECT_ID</key>
	<string>puconline-c176c</string>
	<key>STORAGE_BUCKET</key>
	<string>puconline-c176c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457198622467:ios:8745ae7c61928753</string>
	<key>DATABASE_URL</key>
	<string>https://puconline-c176c.firebaseio.com</string>
</dict>
</plist>